.tablist-component{
  .close-icon{
    visibility: hidden;
  }
  .nav-link:hover .close-icon{
    visibility: visible;
  }
  .nav-link.active .close-icon{
    visibility: visible;
  }
  .unsaved-icon{
    display: inline-block;
    background: #d9534f;
    width: 10px;
    height: 10px;
  }
  .withUnsaved.nav-link .close-icon{
    display: none;
  }
  .withUnsaved.nav-link:hover .close-icon{
    display: inline-block;
  }
  .withUnsaved.nav-link:hover .unsaved-icon{
    display: none;
  }
}