.icon-button{
  background-color: transparent;
  border: none;
  color: inherit;
}
.c-link{
  cursor: pointer;
}
.start-page{
  font-size: 30px;
  height: 300px;
  line-height: 300px;
  color: #ccc;
  text-align: center;
}
.left-panel{
  min-height: 100vh;
  position: relative;
}
.button-group{
  position: absolute;
  width: 100%;
  bottom: 0;
}
.no-border{
  border-radius: 0 !important;
}
.right-panel {
  position: relative;
}
.CodeMirror-scroll {
  height: 600px !important;
}
.sync-status {
  font-size: 12px;
  color: #959694;
  position: absolute;
  bottom: 12px;
  left: 10px;
}
